<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Instagram</h1>
    <h3><%= ["Hello","Bonjour","Namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo quasi accusantium labore molestiae dignissimos voluptas accusamus, fugiat eligendi velit 
        sed pariatur quibusdam commodi id 
        fugit modi ullam alias utem.
    </p>
    <button>Log in</button>
</body>
</html>
